/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #f0f0f0;
}

/* Estilo para el div de la imagen de portada */
.portada-img {
    width: 100%;
    height: 900px;
    background-image: url('portada.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* Estilo para el contenido centrado dentro de portada-img */
.contenido-centrado {
    text-align: center;
    width: 80%;
    max-width: 600px;
}

/* Estilo para el título principal */
h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #fff;
}

/* Estilos para las secciones */
section {
    width: 80%;
    max-width: 600px;
    background-color: rgba(28, 28, 28, 0.8);
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #e0e0e0;
}

/* Estilos para alinear los personajes en una fila */
#seleccionar-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seleccionar-personaje > div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

/* Estilos para los personajes en una sola fila */
.personaje-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, border 0.3s;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
}

/* Estilos para los botones */
button {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #444;
}

/* Especifica las imágenes de fondo */
.personaje-img[data-personaje="zuko"] {
    background-image: url('zuko.png');
}

.personaje-img[data-personaje="katara"] {
    background-image: url('katara.png');
}

.personaje-img[data-personaje="aang"] {
    background-image: url('aang.png');
}

.personaje-img[data-personaje="toph"] {
    background-image: url('toph.png');
}

/* Agrandar la imagen cuando se pasa el ratón por encima */
.personaje-img:hover {
    transform: scale(1.2);
}

/* Oculta los radio buttons pero mantiene su funcionalidad */
input[type="radio"] {
    display: none;
}

/* Boton de reglas se actualiza su posición a la derecha superior */
#boton-reglas {
    position: absolute;
    top: 0px; 
    right: 20px; 
    background-color: #333;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#boton-reglas:hover {
    background-color: #444;
}

/* Oculta mensaje dinamico */
#mensajes {
    display: none;
}

/* Contenedor para las imágenes de los personajes durante el ataque */
.lucha-ataque-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 50px;
}

/* Estilos para las imágenes de los personajes */
.personaje-lucha {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo para el texto "VS" */
#vs-texto {
    font-size: 2em;
    font-weight: bold;
    color: red;
    text-align: center;
}

/* Estilo del mensaje dinamico */
#mensajes {
    max-height: 80px; 
    overflow-y: auto; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

/* Para estilizar la barra de scroll */
#mensajes::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

/* Color de la barra de scroll */
#mensajes::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 5px;
}

/* Color cuando se pasa el cursor por encima */
#mensajes::-webkit-scrollbar-thumb:hover {
    background-color: #333; 
}